<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 35px;
    }
    
    .center {
      text-align: center;
    }
  </style>
</head>
<body>
  <p style="color: green"><%= notice %></p>

  <h1>¡Bienvenidos al sitio web de nuestro Centro de Rescate!</h1>

  <div class="center">
    <img src="/assets/fulls/dog.jpg" alt="Imagen de un perro" width="450">
    <p class="image-footer">
      <i class="fa-solid fa-paw"></i> Cubito, 2 meses. Rescatado desde un vertedero.
    </p>
  </div>
</body>
</html>
