<style>
  h2 {
    text-align: center;
    margin-top: 200px;
  }
</style>

<p style="color: green"><%= notice %></p>

<h2>Aquí podrás encontrar los Términos y Condiciones de nuestra página web.</h2>



